.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}

.box {
    display: block;
    justify-content: center;
    background-color: black;
    font-size: 90px;
    width: 150px;
    height: 450px;
    border-radius: 20px;
}

.box * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 50%;
}

.lightRed {
    background-color: red;
    margin: 10px;
}

.lightYellow {
    background-color: yellow;
    margin: 10px;
}

.lightGreen {
    background-color: greenyellow;
    margin: 10px;
}